@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body{
    background-color: black;
    color: #09fa15;
    font-size: 80px;
    font-family: 'Orbitron', sans-serif;
}
.box{
    padding-top: 200px;
    text-align: center;
}
.foot{
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    color: blanchedalmond;
    font-size: 15px;
    text-align: center;
    padding: 0px;
    background-color: rgb(20, 20, 20);
}